.create-button{
  margin: 50px;
}

.saveButton{
  margin: 30px
}


.image-wrapper {
position: relative;
display: inline-block;
margin-top: 5px;
}


.comment-image {
max-width: 100%;
height: 150px;
object-fit: cover;
border-radius: 6px;
}


.delete-image-btn {
position: absolute;
top: 6px;
right: 6px;
width: 24px;
height: 24px;
border: none;
border-radius: 50%;
background: rgba(0, 0, 0, 0.6);
color: white;
font-size: 14px;
cursor: pointer;
line-height: 24px;
text-align: center;
padding: 0;
}


.delete-image-btn{
background: rgba(255, 0, 0, 0.8);
}
